<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no, email=no"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="关键词">
  <meta name="description" content="网站简介">
  <meta name="apple-mobile-web-app-title" content="夏令营">
  <title>夏令营</title>

  <script type="text/javascript">
    ~function (win, doc) {
      var dpr, rem, scale;
      var docEl = doc.documentElement;
      var metaEl = doc.querySelector('meta[name="viewport"]');

      dpr = win.devicePixelRatio || 1;
      rem = docEl.clientWidth * dpr / 10;
      scale = 1 / dpr;


      // 设置viewport，进行缩放，达到高清效果
      metaEl.setAttribute('content', 'width=' + dpr * docEl.clientWidth + ', initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');

      // 设置data-dpr属性，留作的css hack之用
      docEl.setAttribute('data-dpr', dpr);

      // 动态写入样式
      docEl.style.fontSize = rem + 'px';
    }(window, document);
  </script><!--ignore-->

  <link rel="stylesheet" type="text/css" href="../../plugin/swiper/swiper-3.3.1.min.css">
  <link rel="stylesheet" type="text/css" href="page2.scss">
</head>
<body>
<div class="layout">
  <div class="wrap">
    <div class="shade">
      <div class="shade-top">
        <div class="text">
          <span>下期预告：</span>
          <p>2016年3月5日&nbsp;&nbsp;游泳自救</p>
        </div>
        <a class="btn-join" href="javascript:;">立即报名</a>
      </div>
    </div>
    <div class="wp-inner H5FullscreenPage-wrap">
      <div class="item page page-cover">
        <img src="./images/dsb/2.jpg">
        <div class="shade">
          <a class="shade-video-src hide" data-url="./images/demo/trailer.mp4"></a>
          <div class="shade-bottom">
            <span class="btn-video"><b></b><em></em></span>
            <div class="text clear">
              <div class="text-content">
                <h3>豆沙包</h3>
                <p>2015年菁果の欢乐时光</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>

      <!-- 人物日记 开始 -->
      <div class="item page">
        <img src="./images/dsb/1.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>01</span>
              <div class="text-content">
                <span>2015.01.02&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>猜猜我在拍什么？</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/2.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>02</span>
              <div class="text-content">
                <span>2015.02.03&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>我的颜色我做主！Call me colorful boy！</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/3.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>03</span>
              <div class="text-content">
                <span>2015.03.03&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>虽然我叫豆沙包，但我从小就有帅哥的潜质~</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/4.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>04</span>
              <div class="text-content">
                <span>2015.04.04&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>男子汉一定要住一次帐篷撒~</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/5.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>05</span>
              <div class="text-content">
                <span>2015.05.05&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>翻滚吧！奇异果小骚年！</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/6.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>06</span>
              <div class="text-content">
                <span>2015.06.06&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>小嘉昊，在研究什么奥妙？！</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/7.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>07</span>
              <div class="text-content">
                <span>2015.07.07&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>专注的时候会更帅哦，魅力Max!</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/8.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>08</span>
              <div class="text-content">
                <span>2015.08.08&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>我和我的“苹果”并肩作战的日子！</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/9.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>08</span>
              <div class="text-content">
                <span>2015.09.09&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>游泳小王子，亲，你要和我一起来吗？</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/10.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>10</span>
              <div class="text-content">
                <span>2015.10.10&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>看我的功夫！小小豆沙拳！</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/11.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>11</span>
              <div class="text-content">
                <span>2015.11.11&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>小伙伴们，快跟上！！！</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/12.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>12</span>
              <div class="text-content">
                <span>2015.12.12&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>一枚阳光安静的小帅锅~~~</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <div class="item page">
        <img src="./images/dsb/13.jpg">
        <div class="shade">
          <div class="shade-bottom">
            <div class="text clear">
              <span>13</span>
              <div class="text-content">
                <span>2015.12.20&nbsp;&nbsp;&nbsp;&nbsp;晴&nbsp;&nbsp;&nbsp;&nbsp;开心</span>
                <p>那些和外教Kelsey一起度过的日子……</p>
              </div>
            </div>
            <a class="btn-next" href="javascript:;">下一页</a>
          </div>
        </div>
      </div>
      <!-- 人物日记 结束 -->


      <div class="item page page-like">
        <img src="./images/dsb/1.jpg">
        <div class="shade">
          <div class="shade-content">
            <div class="share-box">
              <a class="btn-close" href="javascript:;">关闭</a>
              <div class="share-bg"></div>
              <div class="share-content">
                <div class="like-num clear">
                  <i></i>
                  <span>0</span>
                  <em>+1</em>
                </div>
                <p>喜欢我就来点个赞吧！</p>
                <a class="btn-like" href="javascript:;">帮TA点赞</a>
              </div>
              <div class="icon-share"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item page page-friend" data-shade-top="black">
        <img src="./images/dsb/2.jpg">
        <div class="shade">
          <div class="shade-content">
            <h3>我的小伙伴</h3>
            <div class="banner-box">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="ban-content">
                      <div class="ban-img-box">
                        <div class="ban-img">
                          <img src="images/demo/3.jpg">
                        </div>
                      </div>
                      <span>豆沙包</span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ban-content">
                      <div class="ban-img-box">
                        <div class="ban-img">
                          <img src="images/demo/4.jpg">
                        </div>
                      </div>
                      <span>豆沙包</span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ban-content">
                      <div class="ban-img-box">
                        <div class="ban-img">
                          <img src="images/demo/4.jpg">
                        </div>
                      </div>
                      <span>豆沙包</span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ban-content">
                      <div class="ban-img-box">
                        <div class="ban-img">
                          <img src="images/demo/3.jpg">
                        </div>
                      </div>
                      <span>豆沙包</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
            <div class="bottom-info">
              <span class="clear"><i></i><em>我们都在</em><i></i></span>
              <div class="logo-img">
                <img src="./images/logo-big.png">
              </div>
              <a class="btn-jg" href="javascript:;">了解菁果</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item page page-join" data-shade-top="black">
        <img src="./images/dsb/2.jpg">
        <div class="shade">
          <div class="shade-content">
            <h3>关于菁果夏令营</h3>
            <div class="text clear">
              <p>不同种类的夏令营提供不同种类活动，例如有些提供户外拓展训练，以训练体能和团队精神；有些则提供语言、艺术、音乐等的训练。</p>
              <p>大多数的夏令营是由教育机关所赞助，然而现今越来越多私人单位去举办营队活动地区的小孩们参与。</p>
            </div>
            <a class="btn-join" href="javascript:;">立即报名</a>
            <div class="bottom-info">
              <span>了解更多精彩详情，关注公众号“菁果夏令营”</span>
              <div class="code-img">
                <img src="./images/code-img.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item page page-share">
        <img src="./images/dsb/1.jpg">
        <div class="shade">
          <div class="shade-content">
            <div class="share-box">
              <a class="btn-close" href="javascript:;">关闭</a>
              <div class="share-bg"></div>
              <div class="share-content">
                <p>喜欢我就把我分享出去吧！</p>
                <a class="btn-join" href="javascript:;">报名成功</a>
                <span>棒棒哒</span>
              </div>
              <div class="icon-share"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script data-loader="true" type="text/javascript" src="../../common/js/lib/mod.js"></script>
<script data-framework="true" type="text/javascript" src="../../common/js/lib/zepto.min.js"></script>
<script data-framework="true" type="text/javascript" src="../../common/js/lib/touch.js"></script>
<script type="text/javascript" src="../../plugin/fingerprint2/fingerprint2.min.js"></script>
<script type="text/javascript" src="../../plugin/swiper/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="../../plugin/fullPage/zepto.fullpage.js"></script>
<script type="text/javascript">
  require('./page2');
</script>
</html>